<% if logged_in? %>
    <% title t('page_titles.home.index_in') %>

    <% content_for :page_title_extra do %>
        <%= link_to t('actions.train'), start_trains_path, class: 'btn btn-primary', data: {no_turbolink: true, toggle: 'tooltip', placement: 'left', title: 'Treine antes de enfrentar seus amigos.'} %>
    <% end %>

    <div class="row">
      <% if @last_trains.empty? %>
        <h3 class="text-center">Voce ainda não realizou nenhum treinamento.</h3>
      <% else %>
          <div class="col-md-6">
            <h3>Respostas Corretas</h3>
            <%= column_chart @last_trains.collect {|train| [train.first, train[1]]} %>
          </div>
          <div class="col-md-6">
            <h3>Tempo de Execução dos Treinamentos</h3>
            <%= column_chart @last_trains.collect {|train| [train.first, train.last]} %>
          </div>
      <% end %>
    </div>
<% else %>
    <% title t('page_titles.home.index_out') %>

    <div class="row">
      <div class="col-md-4 text-center">
        <img src="/images/index_2.jpg" class="img-responsive img-circle"  alt="Teste seus conhecimentos">
        <h3><b>Teste</b> seus conhecimentos</h3>
        <p style="text-align: justify">
          Coloque em prática tudo que você já sabe sobre o assunto.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <img src="/images/index_1.jpg" class="img-responsive img-circle" alt="Vença seus amigos">
        <h3><b>Vença</b> seus amigos</h3>
        <p style="text-align: justify">
          Aqui você pode competir com seus amigos e descobrir quem é melhor em engenharia de software.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <img src="/images/index_3.jpg" class="img-responsive img-circle" alt="Aprenda mais">
        <h3><b>Aprenada</b> muito mais</h3>
        <p style="text-align: justify">
          Além de colocar seus conhecimentos em prática você pode melhorar seu aprendizado.
        </p>
      </div>
    </div>
<% end %>