<% title t('page_titles.help.show') %>

<h2>Treinamento</h2>

<p>
  O primeiro passo antes de começar a jogar é treinar! No modo treinamento será possível familiarizar melhor com o nosso ambiente,
  com o nível das questões e também aprender um pouco mais. Para treinar, basta clicar no botão "Treinar" que aparece na página inicial.
  Sempre será possível verificar o seu desempenho nos últimos treinamentos na página inicial.
</p>

<h2>Vamos Jogar?</h2>

<p>
  Agora que você já treinou, é hora de desafiar outras pessoas. Para jogar no modo partida, basta acessar o link "Iniciar Nova Partida"
  na barra de navegação. Então, é só esperar que nós vamos encontrar um oponente para você.
</p>