/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body { height: 100%; }

body { font-family: 'Open Sans' }

.navbar-default .navbar-brand {
  margin-right: 50px;
  margin-left: 20px;
  width: 215px;
  height: 78px;
  background: url(../images/logo.png) no-repeat 0 50%;
}

.navbar-default .navbar-nav > li {
  margin-left: 1px;
}

.navbar-default .navbar-nav > li > a {
  padding: 30px 25px;
  font-size: 16px;
  line-height: 18px;
}

.navbar-default .navbar-nav > li > a > i {
  display: inline-block;
}

.alert-container {
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.btn.btn-facebook {
  background-color: #436CE8;
  color: #fff;
}

.btn.btn-facebook:hover,
.btn.btn-facebook.active {
  background-color: #304EA7;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}